.container {
  .navbar {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      margin: 0.5rem;
      a {
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-size: 2rem;
        text-transform: uppercase;
        color: #000;
        transition: color 0.3s ease-in-out;
        &:visited {
          color: #000;
        }
        &:hover {
          color: rgb(60, 60, 60);
        }
      }
      .search {
        position: relative;
        width: 240px;
        color: #a3a3a3;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        border: 0;
        outline: 0;
        padding: 8px;
        border-radius: 4px;
        background-image: url(../../assets/procurar.png);
        background-repeat: no-repeat;
        background-position: 96% center;
        background-size: 16px;
        &:focus {
          animation: glow 400ms ease-in;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6),
            inset 0 0 5px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), inset 0 0 10px rgba(0, 0, 0, 0.4);
  }
}
