<header>
  <div class="container">
    <nav class="navbar">
      <ul>
        <li>
          <a href="#" class="logo">Home</a>
        </li>
        <li *ngIf="_router.url == '/'">
          <input type="text" class="search"[(ngModel)]="pokemonSearch" />
        </li>
      </ul>
    </nav>
  </div>
</header>