@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Lato:400,900&display=swap");
@import '../src/app/helpers/mixins.scss';

body {
  background: #f5f6fa;
}
.container {
  margin: 0 24px; 
  @media (min-width: $breakpointMobile) {
    max-width: 1366px;
    margin: 0 auto;
    padding: 24px 0;
  }
}
