@import '../helpers/mixins.scss';

.main__title {
  font-family: $primaryFont;
  font-size: 2.5rem;
  text-align: center;
}
.cards {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: .5rem 0;
  .card__item {
    flex-basis: 90%;
    text-align: center;
    margin: 1rem auto;
    padding: .5rem;
    background-color: #ecf0f1;
    border-radius: 12px;
    @media (min-width: $breakpointMobile) {
      flex-basis: 30%;
    }
    .card__img {
      object-fit: cover;
      width: 100%;
    }
    .card__details {
      text-align: left;
      padding: 0.5rem 1rem 1rem;
      .card__title,
      .card__id { 
        margin: 0;
        line-height: 2rem;
        font-size: 1.5rem;
        font-family: $primaryFont;
        span {
          font-size: 1.25rem;
          font-weight: 300;
        }
      }

    }
  }
}