<h1 class="main__title">Pokemon</h1>

<ul *ngIf="pokemons" class="cards">
  <li
    (click)="onSelect(pokemon)"
    *ngFor="let pokemon of pokemons.cards | orderBy: name | pokemonFilter: pokemonSearch"
    class="card__item"
  >
    <img
      src="{{ pokemon.imageUrl }}"
      alt="{{ pokemon.name }}"
      class="card__img"
    />
    <div class="card__details">
      <p class="card__title"><span>Nome: </span>{{ pokemon.name }}</p>
      <p class="card__id"><span>Pokemon ID: </span>{{ pokemon.id }}</p>
    </div>
  </li>
</ul>
