@import '../helpers/mixins.scss';

.pokemon {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpointMobile) {
    flex-direction: row;
  }
  .card__img {
    width: 100%;
    object-fit: contain;
    @media (min-width: $breakpointMobile) {
      width: 50%;
    }
  }
  .card__details {
    font-family: $primaryFont;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 16px 24px;
  }
}
