<div *ngIf="pokemon" class="pokemon">
	<img src="{{pokemon.card.imageUrlHiRes}}" alt="{{ pokemon.card.name }}" class="card__img">
	<div class="card__details">
		<p class="card__title">
			<span>Name:
			</span>
			{{ pokemon.card.name }}</p>
		<p class="card__id">
			<span>Pokemon ID:
			</span>
			{{ pokemon.card.id }}</p>

		<ul>
			<li *ngFor="let type of pokemon.card.types">
				<span>Pokemon Type:
				</span>
				{{type}}</li>
		</ul>
		<ul>
			<li *ngFor="let attack of pokemon.card.attacks">
				<p>Pokemon Name:
					{{attack.name}}</p>
				<p>Pokemon Cost:
					{{attack.cost}}</p>
				<p>Pokemon Damage:
					{{attack.damage}}</p>
				<p>Pokemon Description:
					{{attack.text}}</p>
			</li>
		</ul>
		<ul>
			<li *ngFor="let resistance of pokemon.card.resistances">
				<p>
					{{resistance.type}}:
					{{resistance.value}}
				</p>

			</li>
		</ul>
		<ul>
			<li *ngFor="let weakness of pokemon.card.weaknesses">
				<p>
					{{weakness.type}}:
					{{weakness.value}}
				</p>

			</li>
		</ul>
	</div>
</div>
